# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#mkdir fashion-fusion-tryon
#cd fashion-fusion-tryon

#npm init -y --> This will create a package.json file, which keeps track of your project’s dependencies (libraries).

#npm start --> Your React app will open in your default web browser at http://localhost:3000. Ctrl + C --> to close the local hosting

#npm install ar.js three --> install these packages
