
# dependencies
/node_modules
package-lock.json

# misc
.env

#others
/scripts/sampleData.js
/Recommendations/images
/Recommendations/myenv
/Recommendations/static/uploads/*
!/Recommendations/static/uploads/.gitkeep


