/* General Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #eaf4fc; Light blue background */
  margin: 0;
}

/* Login Card */
.login-card {
  display: flex;
  flex-direction: row; /* Image is on the right */
  width: 800px;
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Form Section */
.form-section {
  flex: 1;
  padding: 40px;
}

.form-section h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #0099ff; /* Blue color */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  color: #666666;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #0099ff;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #0099ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #007acc;
}

.success-message {
  margin-top: 5px;
  color: green;
}

.error-message {
  margin-top: 5px;
  color: red;
}

/* Illustration Section */
.illustration-section {
  flex: 1;
  background-color: #002b55;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-section img {
  max-width: 100%;
  height: auto;
}
